body{
    background: url("https://images.unsplash.com/photo-1575044783466-fc895dfc4c6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1949&q=80");
    /*background-position: center;*/
    background-size: fill;
    background-repeat: no-repeat;
    margin: 0;
}
#jumb{
    font-size: 3em;
}
#heade{
    font-family: 'Tangerine', serif;
    font-size: 5em;
    padding-top: 0em;
    text-align: center;
    background-color: black;
    color:white;
    margin-top: 0;
    letter-spacing: 10px;
    opacity: 0.7;
    
}
.jumbotron{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 7%;
    box-shadow:0 9px 16px -6px black;
    opacity: 0.9;
}
